/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  box-sizing: border-box;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}
.introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	display: block;
	width: 200px;
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.filters_bloc {
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	margin-bottom: 50px;
}

.filters_bloc button {
	width: 110px;
	height: 37px;
	border: 2px solid #1D6154;
	background-color: white;
	color: #1D6154;
	font-weight: 700;
	border-radius: 20px;
	margin: 0 8px;
}

.filters_bloc button:hover {
	background-color: #1D6154;
	color: white;
}

.filters_bloc button:last-child {
	width: 160px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
}

#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea, #contact input, .file-add_block-bot input, .file-add_block-bot select {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



/*
      First page - modale version
*/


.edit-flex {
	display: flex;
	align-items: center;
	height: 30px;
}

/* Bannière */

.edit-bann {
	width: 100%;
	height: 55px;
	background-color: black;
	position: relative;
	top: 0;
	margin: auto;
}

#edit-bann {
	display: none;
}

.edit-bann .edit-flex-bann {
	height: 100%;
	justify-content: center;
	align-items: center;
	color: white;
}

.edit-flex-bann > button {
	background-color: white;
	width: 200px;
	height: 35px;
	border-radius: 20px;
	font-weight: 600;
}

.edit-icon-white, .edit-bann > button {
	padding: 0 10px;
}

.edit-bann p {
	padding-left: 0;
	padding-right: 20px;
}


.edit-visibility {
	display: none;
}


.edit-icon-white {
	width: 20px;
	height: 20px;
}

.edit-icon {
	width: 15px;
	height: 15px;
}



/* navBar */

nav img {
	width: 19px;
	height: 19px;
	text-align: center;
}

nav li {
	padding: 0 25px;
}

.navBar-link {
	text-decoration: none;
}

.navBar-link, .navBar-link:hover {
	color: black;
}

.navBar-link:hover {
  font-weight: 700;
}


/* figure */

.edit-flex-figure .edit-icon {
	align-self: center;
	margin-left: 0;
  margin-right: 0;
	padding-left: 24%;
	width: 30px;
}

.edit-flex-figure {
	margin-top: 5px;
	width: 150px;
	margin-left: 14px;
}

/* introduction */

.edit-flex-introduction {
	height: 30px;
	justify-content: flex-start;
	align-items: baseline;
	width: 80px;
}

.edit-flex-introduction .edit-icon {
	padding-left: 0;
}

.edit-flex-introduction a {
	align-self: center;
  display: block;
}

.portfolio-title-block {
	display: flex;
	margin: 100px 0 80px 0;
	justify-content: center;
}

.portfolio-title-block > img {
	padding-left: 25px;
	padding-right: 5px;
	align-self: center;
}

/* modal 1 et 2 */

.modal-btn {
	border: none;
	background-color: transparent;
	font-family: 'Work Sans';
	position: absolute;
  width: 100px;
}

.modal-container, .modal-container-add {
	position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	visibility: hidden;
	transition: visibility 0.4s;
}

.modal-container.active {
	visibility: visible;
}

.modal-container-add.active {
	visibility: visible;
}

.overlay {
	opacity: 0;
	position: absolute;
	width: 100%;
  height: 100%;
	background:rgba(0, 0, 0, 0.6);
	transition: opacity 0.4s 0.2s ease-in-out;
}

.modal-container.active .overlay, .modal-container-add.active .overlay {
	opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal {
	height: 65%;
}

.modal, .modal-add-primary {
	opacity: 0;
  max-width: 700px;
  width: 65%;
	min-width: 300px;
  max-height: 1000px;
  position: absolute;
  top: calc(40% - 150px);
	left: 47%;
  background-color: white;
  border-radius: 3%;
	transform: translate(-40%, calc(-10% - 20px));
	transition: opacity 0.4s ease-out,
	transform 0.4s ease-out;
	display: flex;
	flex-wrap: wrap;
}

.modal-add-primary {
	height: 60%;
}

.modal-flex {
	justify-content: center;
	align-content: space-evenly;
}

.modal-flex-add {
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
}

.modal-container.active .modal, .modal-container-add.active .modal-add-primary {
	opacity: 1;
  transform: translate(-40%, -10%);
  transition: opacity 0.4s 0.2s ease-out,
	transform 0.4s 0.2s ease-out;
}

.modal-title {
	font-size: 28px;
  padding-top: 15px;
  text-align: center;
	display: block;
	flex-basis: 100%;
}

.close-modal {
	border-radius: 5px;
	font-size: 18px;
	top: 10px;
	right: 10px;
	color:black;
	background-color: transparent;
}

.close-modal, .return-btn {
	border: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	padding: 8px 10px;
}
.return-btn, .return-btn-img {
	background-color: white;
}

.return-btn {
	left: 10px;
}

.gallery-edit, .form-add-project {
  width: 70% ;
  height: 65%;
	min-width: 300px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	border-bottom: 2px solid #B3B3B3;
}

.gallery-edit {
	justify-content: flex-start;
	margin: auto;
	padding-left: calc(7% - 20px);
}

.divModalImg {
	width: 18%;
	max-width: 80px;
	height: 24%;
	max-height: 100px;
	position: relative;
	margin: 20px 6px;
}

.imageElement {
	object-fit: contain;
	width: 100%;
	height: 100%;
}


.trashBtn, .trashImg {
	border: none;
  text-align: center;
  display: block;
  font-size: 16px;
  background-color: transparent;
	overflow: hidden;
}

.trashImg, .moveImg {
	width: 17px;
	height: 17px;
	position: absolute;
}

.trashImg {
	top: 8%;
	right: 10%;
}

.moveImg {
	top: 8%;
	right: 40%;
}

.trashBtn {
	width: 18px;
	height: 18px;
	z-index: 1;
	position: relative;
	display: inline-block;
	top: -94px;
	right: -67%;
}

.form-add-project {
	justify-content: center;
	margin-bottom: 80px;
	height: 60%;
	margin-bottom: 100px;
}

.file-add_block-global {
	height: 169px;
	background-color: #E8F1F7;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  align-items: center;
}

.file-add_block-global, .file-add_block-bot {
	width: 500px;
	min-width: 250px;
}

.add-picture-img {
	width: 60px;
	height: 46px;
	position: relative;
	top: 15px;
}

.add-file_block-btn {
	display: inline-block;
	position: relative;
	overflow: auto;
}

.add-file_block-btn input {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 170px;
	height: 40px;
}

.add-file_block-btn p {
	font-size: smaller;
	text-align: center;
}

.picture-add-btn {
	width: 170px;
  height: 40px;
  border-radius: 50px;
  background: #CBD6DC;
  text-align: center;
	border: none;
	color: #306685;
	font-weight: 600;
	margin-bottom: 10px;
}

.file-add_block-bot {
	min-height: 260px;
	max-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.file-add_block-bot label {
	font-weight: 600;
	color: #3D3D3D;
	margin-top: 35px;
	padding-bottom: 12px;
}

.file-add_block-bot input, .file-add_block-bot select {
	height: 52px;
	padding-left: 12px;
	font-size: 0.8rem;
	color: #444444;
	margin-bottom: 12px;
}

.btn-edit {
	width: 237px;
  height: 36px;
  border-radius: 60px;
  background-color: #1D6154;
  color: white;
  border: none;
  justify-self: center;
}

.modal p {
	color: #D65353;
  text-align: center;
	flex-basis: 100% ;
	position: relative;
	bottom: 10px;
}

.newImg {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 35%;
	top: 0;
}

#btn-validation  {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	border: none;
	align-self: center;
	background-color: #A7A7A7;;
	color: white;
	position: absolute;
	bottom: 44px;
}


/*
			Second page
*/

.nav__list li {
	padding: 0 25px;
}

.nav__list a {
	text-decoration: none;
	color: black;
}

.nav__list a:hover {
	font-weight: 600;
}

.img--insta {
	width: 20px;
	height: 20px;
}

.main__login {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.form__block {
	height: auto;
	flex-wrap: wrap;
}

.main__login h2 {
	display: block;
	flex-basis: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-log {
	height: auto;
	margin-bottom: 35px;
}

.input-log input {
	width: 379px;
	height: 51px;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0 0 0 / 10%);
	border: none;
}

.input-log label {
	margin-bottom: 10px;
	font-weight: 600;
	display: block;
	color: #3D3D3D;
}

.submit-log {
	text-align: center;
}

.submit-log input{
	height: 36px;
	border: none;
	margin-top: 0;
}

.submit-log a {
	font-weight: 600;
}

.submit-log a, .submit-log a:active {
	color: #3D3D3D;
}

.footer__login {
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: white;
}

.footer__login ul {
	margin-top: 25px;
	color: black;
	font-weight: 300;
}
